* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}


header {
    border-radius: 40px;
}

nav {
    background-color:#D96F32;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: "Tektur", sans-serif;
    margin: 10px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 50ms;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: #F3E9DC;
    text-decoration-color: black;
}

/* First Section */
#first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #F3E9DC;
    color:#000000;
    height: 680px;
}

#myIntro {
    font-family: "Michroma", sans-serif;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 50px auto;
}

span {
    font-size: 40px;
    color: #C75D2C;
}

#imageBox {
    height: 300px;
    width: 300px;
    overflow: hidden;
   mask-image: url("assests/mask-image.png");
   mask-size: cover;
   
    border: 2px solid;
    box-shadow: 0px 0px 20px #F8B259;
}

.image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Second Section */
#second {
    background-color: #C75D2C;
    color: rgb(43, 42, 42);
}

.skillMainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#skill {
    text-align: center;
    font-family: "Michroma";
    font-size: 50px;
    text-transform: capitalize;
    color: #F3E9DC;
}

.skillSection {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 40px auto;
}

.skillTitle {
    font-size: 30px;
    margin: 20px;
     color:#F3E9DC ;
}

.skillDiscription {
    font-size: 16px;
    font-weight: 100;
    color:black;
}

.skillImgBox {
    width: 300px;
    border-radius: 20px;
    margin-right: 20px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 60px;
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}

.skillImgBox:hover {
    transform: scale(1.1);
}

.skillImage {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

/* Third Section */
#third {
    background-color: #F8B259;
    padding: 40px;
    color: #C75D2C;
}

#projectTitle {
    font-size: 50px;
    font-family: "Michroma";
    text-transform: capitalize;
    text-align: center;
   
}

#projectHolder {
    
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectBox {
    
    height: fit-content;
    margin: 10px;
    width: 300px;
    border: 2px solid;
   
    border-radius: 10px;
    padding: 10px;
    background-color: #C75D2C;
    filter: blur(2px);


    transition: all 5000ms ease  200ms;
    
}
.projectBox:hover{
    filter: blur(0px);
}

.projectImgHolder {
    height: 200px;
    width: 100%;
    border: 2px solid;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.projectImages {

height: 100%;
width: 100%;

  object-fit: cover;
  
}



.projectHeading {
    font-family: "Michroma", sans-serif;
    color: black;
}

.projectDisc {
   margin: 10px;
    font-size: 16px;
    word-break: break-all;
    word-wrap: normal;
    overflow: hidden;
    color: black;
}


#footerEnd {
    background-color: rgb(230, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.contactIcon {
    height: 50px;
    width: 50px;
}

.contactIcon:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px #00FF00 4px;
}

#thanks {
    display: block;
    font-size: 16px;
    text-align: center;
    text-shadow: 0px 0px 10px white;
    background-color: #F3E9DC;
}

/* Responsive Fixes */
@media only screen and (max-width: 767px) {
    nav {
      
        display: flex;
        flex-direction: column-reverse;
    }

    a {
        font-size: 14px;
    }

    #first {
        flex-direction: column;
        font-size: 16px;
    }

    .projectBox {
        width: 90%;
        margin: 10px auto;
    }

    .skillMainBox {
        flex-direction: column;
    }
}
