* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;

 
}

nav {
    padding-right: 100px;



}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

a:hover {
    color: #29258F;
}

#first-section {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0.1;
}

#intro {
    padding-left: 100px;
}

#introhead {
    font-size: 48px;
    text-transform: capitalize;
}

span {
    color: #291C9A;
}

#intropera {
    font-size: 24px;
    width: 600px;
}

#img {
    background-image: url("/pages/images/boy.jpg");
    height: 300px;
    width: 300px;
    margin-right: 190px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -80px;
    box-shadow: 0px 0px 10px blue;
  
}
@media  (width<=480px) {
    header{
        display: block;
     
    }
    nav{
        display:flex;
        flex-direction: column;
        color: rgb(30, 29, 29);
    }
    a{
        color: rgb(21, 20, 20);

    }
    a:hover{
        color: #29258F;
        
}
#first-section{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        align-self: center;
        flex-wrap: wrap;
        height: 800px;
        align-content: stretch;}
#intro{
    margin: 5px;
    padding: 0px;
    text-align: center;

}
#introhead{
    font-size: 26px;
    padding-bottom: 15px;
    
}
#intropera{
    font-size: 16px;
    width: 300px;
}

#img{
    align-items: center;


}

}